<div class="container-fluid">
 
  
    <div class="container-lg container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-12 col-xl-12 form-label-custom">
          <!-- Form -->
  
          <div class="row">
            <div class="col-xl-12">
             
              <form  [formGroup]="emploiform">
                <div
                  class="contact"
                 >
                  <div class="row mb-3">
                    <div class="form-group col-md-6  col-lg-6">
                      <!-- Label -->
                      <label class="form-label">Jour</label>
  
                      <!-- Input -->
                      <select
                        type="text"
                        class="form-control"
                        emploiform="nomjour" 
                        formControlName="nomjour">
                        <option value="Lundi">Lundi</option>
                        <option value="Mardi">Mardi</option>
                        <option value="Mercredi">Mercredi</option>
                        <option value="Jeudi">Jeudi</option>
                        <option value="Vendredi">Vendredi</option>
                        <option value="Samedi">Samedi</option>

                    </select>
                      <div
                      class="invalid-feedback d-block"
                      *ngIf="
                      emploiform.get('nomjour')?.touched &&
                        !emploiform.get('nomjour')?.valid
                      ">
                      Ceci est un champ obligatoire.
                    </div>
                    </div>
                    <div class="form-group col-md-6  col-lg-6">
                        <!-- Label -->
                        <label class="form-label">Periode</label>
    
                        <!-- Input -->
                        <select
                        type="text"
                        class="form-control"
                        emploiform="heure" 
                        formControlName="heure">
                        <option value="08-09">08-09</option>
                        <option value="09-10">09-10</option>
                        <option value="10-11">10-11</option>
                        <option value="11-12">11-12</option>
                        <option value="12-13">12-13</option>
                        <option value="13-14">13-14</option>
                        <option value="11-12">14-15</option>
                        <option value="12-13">15-16</option>
                        <option value="13-14">16-17</option>
                        <option value="13-14">17-18</option>


                    </select>
    <div
    class="invalid-feedback d-block"
    *ngIf="
    emploiform.get('heure')?.touched &&
      !emploiform.get('heure')?.valid
    "
  >
    Ceci est un champ obligatoire.
  </div>
                      
  </div>
                      
                  </div>
                  <div class="row mb-3">
                    <div class="form-group col-md-6  col-lg-6">
                      <!-- Label -->
                      <label class="form-label">Date</label>
  
                      <!-- Input -->
                      <input
                        type="date"
                        class="form-control"
                        formControlName="date" />
                        <div
                        class="invalid-feedback d-block"
                        *ngIf="
                        emploiform.get('date')?.touched &&
                          !emploiform.get('date')?.valid
                        "
                      >
                        Ceci est un champ obligatoire.
                      </div>  
                    </div>
                  
                  
                    <div class="form-group col-md-6  col-lg-6">
                        <!-- Label -->
                        <label class="form-label">Classe</label>
    
                        <!-- Input -->
                        <select
                        type="text"
                        class="form-control"
                        formControlName="nomclasse">
                        <option *ngFor="let c of allclasse" [value]="c.nomclasse">{{c.nomclasse}}</option>
                      </select>
                    
                      <div
                          class="invalid-feedback d-block"
                          *ngIf="
                          emploiform.get('nomclasse')?.touched &&
                            !emploiform.get('nomclasse')?.valid "
                        >
                          Ceci est un champ obligatoire.
                        </div>
                          
                      </div>
                    
                  
                  </div>
                  <div class="row mb-3">
                    <div class="form-group col-md-6  col-lg-6">
                      <!-- Label -->
                      <label class="form-label">Salle</label>
  
                      <!-- Input -->
                      <select
                      type="text"
                      class="form-control"
                      formControlName="nomdesalle">
                      <option *ngFor="let c of salle" [value]="c.nomdesalle">{{c.nomdesalle}}</option>
                    </select>
                   <div
                        class="invalid-feedback d-block"
                        *ngIf="
                        emploiform.get('nomdesalle')?.touched &&
                          !emploiform.get('nomdesalle')?.valid
                        "
                      >
                        Ceci est un champ obligatoire.
                      </div>
                      
                      
                    </div>
                    <div class="form-group col-md-6  col-lg-6">
                        <!-- Label -->
                        <label class="form-label">Matiére
                            
                        </label>
    
                        <!-- Input -->
                        <select
                        type="text"
                        class="form-control"
                        formControlName="nommat">
                        <option *ngFor="let m of allmat" [value]="m.nom">{{m.nom}}</option>
                      </select>
                     <div
                          class="invalid-feedback d-block"
                          *ngIf="
                          emploiform.get('nommat')?.touched &&
                            !emploiform.get('nommat')?.valid
                          "
                        >
                          Ceci est un champ obligatoire.
                        </div>
                        
                        
                      </div>
                     
                  </div>


                  <div class="row mb-3">
                    <div class="form-group col-md-6  col-lg-6">
                      <!-- Label -->
                      <label class="form-label">Prof</label>
  
                      <!-- Input -->
                      <select
                      type="text"
                      class="form-control"
                      formControlName="email">
                      <option *ngFor="let u of filteredUsers" [value]="u.email">{{u.email}}</option>
                    </select>
                   <div
                        class="invalid-feedback d-block"
                        *ngIf="
                        emploiform.get('email')?.touched &&
                          !emploiform.get('email')?.valid
                        "
                      >
                        Ceci est un champ obligatoire.
                      </div>
                      
                      
                    </div>
               
                            
                  </div>
                
           
                </div>
  
            
              </form>
            </div>
  
            <div class="col-12 mt-10">
              <hr class="mt-5">
              <div class="row align-items-center justify-content-end">
                <div class="col-auto">
                  <!-- Button -->
                  <button
                    class="btn btn-lg btn-white"
                    type="reset"
                  >
                    Retour
                  </button>
                </div>
  
                <div class="col-auto">
                  <button
                    class="btn btn-lg btn-primary" (click)="ajouter()">
                    ajouter
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
