  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Login</th>
        <th scope="col">Email</th>
        <th scope="col">Profil</th>
        
        
  
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{user?.nom}}</th>
        <td>{{user?.prenom}}</td>
        <td>{{user?.login}}</td>
        <td>{{user?.email}}</td>
        <td>{{user?.profil}}</td>
  
      </tr>
     
    </tbody>
  </table>