<div class="banner">
  <div class="banner-text">
    <h3>Tableau de Bord - Gestion des Salles et Départements</h3>
    <p>
      Bienvenue dans votre espace d'administration. Gérez les salles et départements de votre établissement, 
      organisez les espaces et assurez une gestion optimale pour améliorer l'efficacité et la coordination.
    </p>
  </div>
</div>

<div class="dashboard">
  <div class="card" *ngFor="let item of menuItems" (click)="handleMenuClick(item)">
    <i class="{{ item.icon }}"></i>
    <span>{{ item.name }}</span>
  </div>
</div>
  <!---------Gestion des salles-------->
  <div class="container" *ngIf="showSalleForm">
      <h2>Gestion des départements</h2>
      <button  *ngIf="showSalleForm" mat-raised-button class="mb-2 me-2" color="primary" (click)="openForm()">
        <i class="fa-solid fa-plus me-1"></i>
        Ajouter une nouvelle salle
      </button>
      <div *ngIf="openFormdiv" class="form-container">
        <form [formGroup]="salleForm" (ngSubmit)="ajouterSalle()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nom de la salle</mat-label>
            <input
              matInput
              placeholder="Entrez le nom de la salle"
              formControlName="nomdesalle"
              required
            />
            <mat-error *ngIf="salleForm.get('nomdesalle')?.invalid && salleForm.get('nomdesalle')?.touched">
              Le nom de la salle est requis.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Département</mat-label>
            <mat-select formControlName="departement" required>
              <mat-option *ngFor="let dep of departements" [value]="dep.nom">
                {{ dep.nom }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="salleForm.get('departement')?.invalid && salleForm.get('departement')?.touched">
              Le département est requis.
            </mat-error>
          </mat-form-field>
      
          <button mat-raised-button color="primary" type="submit" [disabled]="salleForm.invalid">
            Ajouter
          </button>
        </form>
    </div>

      <!-- Tableau -->
      <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">ID</div>
            <div class="col col-2">Nom</div>
            <div class="col col-4">Département</div>
            <div class="col col-4">Actions</div>
          </li>
        
          <li *ngFor="let salle of salles" class="table-row">
            <div class="col col-1" data-label="ID">{{ salle.id }}</div>
            <div class="col col-2" data-label="Nom">{{ salle.nomdesalle }}</div>
            <div class="col col-4" data-label="Département">{{ salle.departement.nom }}</div>
            <div class="col col-4" data-label="Actions">
              <button mat-raised-button color="accent" class="action-btn" (click)="modifierSalle(salle)">Modifier</button>
            </div>
          </li>
      </ul>   
  </div>
  <!---------End Gestion des salles-------->

  <!---------Gestion des Departement-------->
  <div class="container" *ngIf="showDepForm">
    <h2>Gestion des Salles</h2>
    <button  *ngIf="showDepForm" mat-raised-button class="mb-2 me-2" color="primary" (click)="openFormDep()">
      <i class="fa-solid fa-plus me-1"></i>
      Ajouter un nouveau département
    </button>
    <div *ngIf="openFormdep" class="form-container">
      <form  [formGroup]="departementForm" (ngSubmit)="ajouterDep()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nom du Département</mat-label>
          <input matInput formControlName="nom" placeholder="Entrez le nom du département" required />
          <mat-error *ngIf="departementForm.get('nom')?.invalid">Ce champ est obligatoire</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="departementForm.invalid">
          Ajouter
        </button>
      </form>
    </div>
     <!-- Tableau -->
     <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-4">ID</div>
        <div class="col col-4">Nom</div>
      </li>
    
      <li *ngFor="let dep of departements" class="table-row">
        <div class="col col-4" data-label="ID">{{ dep.id }}</div>
        <div class="col col-4" data-label="Nom">{{ dep.nom }}</div>
      </li>
  </ul>   
</div>
