<table>
    <tr>
      <td><h2>Gestion Emploi Examne</h2>  </td>
      <td width="600"></td>
      <td><button  *ngIf="this.profil=='Admin'" type="button" [routerLink]="['/gestion-calendrier/ajout']"  class="btn btn-info">Ajouter Calendrier</button>
      </td>
    </tr>
  </table>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Jour</th>
        <th scope="col">Periode</th>
        <th scope="col">Date</th>
        <th scope="col">Classe</th>
        <th scope="col">Salle</th>
        <th scope="col">Prof</th>
        <th scope="col">Matiere</th>
        <th scope="col">Type Calendrier</th>

        
        
  
      </tr>
    </thead>
    <tbody *ngIf="this.profil=='Admin'">
      <tr *ngFor="let u of allemploi">
        <th>{{u?.nomjour}}</th>
        <td>{{u?.periode}}</td>
        <td>{{u?.date}}</td>
        <td>{{u?.classe?.nomclasse}}</td>
        <td>{{u?.salle?.nomdesalle}}</td>
        <td>{{u?.user?.email}}</td>
        <td>{{u?.matiere?.nom}}</td>
        <td>{{u?.typecalendrier}}</td>
        <td><button type="button" (click)="supprimer(u.id)" class="btn btn-danger">Supprimer</button>

  
      
      </tr>
     
      <tbody *ngIf="this.profil=='Teacher'">
        <tr *ngFor="let u of allbuprof">
          <th>{{u?.nomjour}}</th>
          <td>{{u?.heure}}</td>
          <td>{{u?.date}}</td>
          <td>{{u?.classe?.nomclasse}}</td>
          <td>{{u?.salle?.nomdesalle}}</td>
          <td>{{u?.user?.email}}</td>
          <td>{{u?.matiere?.nom}}</td>
          <td>{{u?.typecalendrier}}</td>
    
        
        </tr>
       
      </tbody>
      <tbody *ngIf="this.profil=='Eleve'">
        <tr *ngFor="let u of allemploibyprof">
          <th>{{u?.nomjour}}</th>
          <td>{{u?.heure}}</td>
          <td>{{u?.date}}</td>
          <td>{{u?.classe?.nomclasse}}</td>
          <td>{{u?.salle?.nomdesalle}}</td>
          <td>{{u?.user?.email}}</td>
          <td>{{u?.matiere?.nom}}</td>
          <td>{{u?.typecalendrier}}</td>
    
        
        </tr>
       
      </tbody>
      <tbody *ngIf="this.profil=='Parent'">
        <tr *ngFor="let u of allemploibyparent">
          <th>{{u?.nomjour}}</th>
          <td>{{u?.heure}}</td>
          <td>{{u?.date}}</td>
          <td>{{u?.classe?.nomclasse}}</td>
          <td>{{u?.salle?.nomdesalle}}</td>
          <td>{{u?.user?.email}}</td>
          <td>{{u?.matiere?.nom}}</td>
          <td>{{u?.typecalendrier}}</td>
    
        
        </tr>
       
      </tbody>
  </table>