<div class="container-fluid">
 
  
    <div class="container-lg container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-12 col-xl-12 form-label-custom">
          <!-- Form -->
  
          <div class="row">
            <div class="col-xl-12">
             
              <form  [formGroup]="userForm">
                <div
                  class="contact"
                 >
                  <div class="row mb-3">
                    <div class="form-group col-md-6  col-lg-6">
                      <!-- Label -->
                      <label class="form-label">Nom</label>
  
                      <!-- Input -->
                      <input
                        type="text"
                        class="form-control"
                        formControlName="nom"
                        [(ngModel)]="user.nom"
                      />
                    
                    </div>
                    <div class="form-group col-md-6  col-lg-6">
                        <!-- Label -->
                        <label class="form-label">Prenom</label>
    
                        <!-- Input -->
                        <input
                          type="text"
                          class="form-control"
                          formControlName="prenom"
                          [(ngModel)]="user.prenom"
  
                        />
                      
                      </div>
                  
                  </div>
                  <div class="row mb-3">
                    <div class="form-group col-md-6  col-lg-6">
                      <!-- Label -->
                      <label class="form-label">Email</label>
  
                      <!-- Input -->
                      <input
                        type="text"
                        class="form-control"
                        formControlName="email"
                        [(ngModel)]="user.email"

                      />
                    
                    </div>
                    <div class="form-group col-md-6  col-lg-6">
                        <!-- Label -->
                        <label class="form-label">Login</label>
    
                        <!-- Input -->
                        <input
                          type="text"
                          class="form-control"
                          formControlName="login"
                          [(ngModel)]="user.login"

                        />
                      
                      </div>
                  
                  </div>
                  <div class="row mb-3">
                    
                    <div class="form-group col-md-6  col-lg-6">
                      <!-- Label -->
                      <label class="form-label">Profil</label>
                      <select class="form-control" formControlName="profil" (change)="onProfilChange($event)">
                          <option value="Admin">Admin</option>
                          <option value="Teacher">Teacher</option>
                          <option value="Eleve">Eleve</option>
                          <option value="Parent">Parent</option>

                      </select>
                      <!-- Input -->
                              </div>


                              <div *ngIf="isEleveSelected" class="form-group col-md-6 col-lg-6">
                                <label class="form-label">Libellé</label>
                                <input type="text" class="form-control" formControlName="libelle" placeholder="Entrez le libelle">
                            </div>
                            
                            <div *ngIf="isEleveSelected" class="form-group col-md-6 col-lg-6">
                                <label class="form-label">Classe</label>
                                <input type="text" class="form-control" formControlName="libelle" placeholder="Entrez la classe">
                            </div>
                  
                  </div>
                
           
                </div>
  
            
              </form>
            </div>
  
            <div class="col-12 mt-10">
              <hr class="mt-5">
              <div class="row align-items-center justify-content-end">
                <div class="col-auto">
                  <!-- Button -->
                  <button
                    class="btn btn-lg btn-white"
                    type="reset"
                  >
                    Retour
                  </button>
                </div>
  
                <div class="col-auto">
                  <button
                    class="btn btn-lg btn-primary" (click)="modifier()" >
                    Modifier
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  