.snackbar-success {
    background-color: #4caf50; /* Vert */
    color: #fff;
  }
  
  .snackbar-error {
    background-color: #f44336; /* Rouge */
    color: #fff;
  }
  
  .snackbar-warning {
    background-color: #ff9800; /* Orange */
    color: #fff;
  }
  