<mat-dialog-content class="mat-typography form-container">
  <div class="dialog-header">
    <h3 class="dialog-title">Ajouter une nouvelle classe</h3>
  </div> 
  <form [formGroup]="classeForm" (ngSubmit)="onSubmit()"> 
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom de la classe</mat-label>
      <input matInput placeholder="Entrez le nom" formControlName="nomclasse" required>
      <mat-icon matPrefix>class</mat-icon>
      <mat-error *ngIf="classeForm.get('nomclasse')?.invalid">
        Le nom de la classe est requis.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Département</mat-label>
      <mat-select matInput placeholder="Sélectionnez un département" formControlName="departement" required>
        <mat-option *ngFor="let departement of departements" [value]="departement.id">
          {{ departement.nom }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>group</mat-icon>
      <mat-error *ngIf="classeForm.get('departement')?.invalid">
        Veuillez sélectionner un département.
      </mat-error>      
    </mat-form-field>

    <mat-dialog-actions class="action-buttons">
      <button mat-raised-button color="primary" mat-dialog-close type="submit" [disabled]="classeForm.invalid">Ajouter</button>
      <button mat-button [mat-dialog-close]="true" color="warn">Annuler</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
