<!-- add-class.component.html -->
<div class="container">
  <h2>Ajouter une classe</h2>

  <form [formGroup]="classeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nomclasse">Nom de la classe</label>
      <input
        type="text"
        id="nomclasse"
        formControlName="nomclasse"
        class="form-control"
        placeholder="Nom de la classe"
      />
      <div *ngIf="classeForm.get('nomclasse')?.invalid && classeForm.get('nomclasse')?.touched" class="text-danger">
        Le nom de la classe est requis.
      </div>
    </div>
    <div class="form-group">
      <label for="nomssousclasse">Sous-classe</label>
      <select
        id="nomssousclasse"
        formControlName="nomssousclasse"
        class="form-control"
        [ngClass]="{'is-invalid': classeForm.get('nomssousclasse')?.invalid && classeForm.get('nomssousclasse')?.touched}"
      >
        <option value="" disabled selected>nomssousclasse</option>
        <option *ngFor="let sousClasse of sousClasses" [value]="sousClasse.id">{{ sousClasse.nomssousclasse }}</option>
      </select>
      <div *ngIf="classeForm.get('nomssousclasse')?.invalid && classeForm.get('nomssousclasse')?.touched" class="text-danger">
        La sous-classe est requise.
      </div>
    </div>




    <div class="form-group">
      <label for="matiere">Matière</label>
      <select
        id="matiere"
        formControlName="matiere"
        class="form-control"
        [ngClass]="{'is-invalid': classeForm.get('matiere')?.invalid && classeForm.get('matiere')?.touched}"
      >
        <option value="" disabled selected>Choisir une matière</option>
        <option *ngFor="let matiere of matieres" [value]="matiere.id">{{ matiere.nom }}</option>
      </select>
      <div *ngIf="classeForm.get('matiere')?.invalid && classeForm.get('matiere')?.touched" class="text-danger">
        La matière est requise.
      </div>
    </div>

    <div class="form-group">
      <label for="matricule">Matricule</label>
      <input
        type="text"
        id="matricule"
        formControlName="matricule"
        class="form-control"
        placeholder="Matricule de la classe (8 chiffres)"
      />
      <div *ngIf="classeForm.get('matricule')?.invalid && classeForm.get('matricule')?.touched" class="text-danger">
        Le matricule doit être composé de 8 chiffres.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="classeForm.invalid">Ajouter</button>
  </form>
</div>
