<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div class="grey-bg container-fluid">
    <section id="minimal-statistics">
      <div class="row">
        <!-- Enseignant -->
        <div class="col-xl-4 col-sm-6 col-12 custom-width"> 
          <div class="card">
            <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex justify-content-between align-items-center">
                    <div class="media-body text-left">
                      <h3>{{enseignant}}</h3>
                      <span>Enseignants</span>
                    </div>
                    <div class="align-self-center">
                      <i class="bi bi-person-badge-fill primary font-large-2"></i>
                    </div>
                  </div>
                </div>
              </div>              
          </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-12 custom-width"> 
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex justify-content-between align-items-center">
                    <div class="media-body text-left">
                      <h3>{{elves}}</h3>
                      <span>Elèves</span>
                    </div>
                    <div class="align-self-center">
                      <i class="bi bi-person-circle primary font-large-2"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 col-12 custom-width">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex justify-content-between align-items-center">
                    <div class="media-body text-left">
                      <h3>{{classes}}</h3>
                      <span>Classe</span>
                    </div>
                    <div class="align-self-center">
                      <i class="bi bi-building warning font-large-2"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>          
      </div>
    </section>
  </div>